<mat-card class="container">
    <mat-card-header class="mat-card-header">
        Login
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
            <div>
                <mat-form-field class="mat-form-field">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Please enter email">
                    <mat-hint>use like : demo@demo.com</mat-hint>
                    <mat-error *ngIf="hasError('email', 'required')">Email required</mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">Please enter valid email id</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="mat-from-field">
                    <input matInput formControlName="password" placeholder="Enter your password"
                        [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="hasError('password', 'required')">Password required</mat-error>
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div>
                <mat-card-actions class="mat-card-action">
                    <button mat-raised-button [disabled]="!loginForm.valid" type="submit" color="primary">Login</button>
                    <button mat-raised-button type="button" color="warn" (click)="onCancel()">Cancel</button>

                </mat-card-actions>
            </div>
        </form>
    </mat-card-content>
</mat-card>